@charset "utf-8";
/* CSS Document */

div{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

#DR{
    text-align:right;
}

@media (max-width: 576px) {
    #DR {
        text-align: center;
    }
}